<html>
  <head>
    <title>Articles | All</title>
  </head>
  <body>
    <div>
      <h1><%= article.title %></h1>
      <p><%= article.body %></p>
      <a href="/views/article/show/<%= article.id %>">Edit</a>
    </div>
  </body>
</html>
